from sqlmodel import SQLModel
{{ header }}                       {# ← built-in macro: imports & future-annotations #}


class {{ class_name }}Row(SQLModel, table=True):
{%- for field in fields %}
    {{ field.name }}: {{ field.type_hint }}{% if field.default is not none %} = {{ field.default }}{% endif %}{% if field.primaryKey %} = Field(default=None, primary_key=True){% endif %}
{%- endfor %}
