{%- for model in models %}
{{ model.header }}                       {# adds imports only once #}

@dataclass(slots=True)
class {{ model.class_name }}:
{%- for field in model.fields %}
    {{ field.name }}: {{ field.type_hint }}{% if field.default is not none %} = {{ field.default }}{% endif %}
{%- endfor %}

{% endfor %}