{{ header }}                       {# adds imports only once #}

@dataclass(slots=True)
class {{ class_name }}:
{%- for field in fields %}
    {{ field.name }}: {{ field.type_hint }}{% if field.default is not none %} = {{ field.default }}{% endif %}
{%- endfor %}
